.School {
  background-color: rgb(253, 227, 230);
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
}

.School__active {
  position: relative;
  bottom: -230px;
  font-size: 12px;
  padding: 2px;
  cursor: pointer;
  color: white;
  background-color: rgb(91, 202, 124);
  border-color: rgb(77, 145, 9);
}

.School__inactive {
  position: relative;
  bottom: -230px;
  font-size: 12px;
  padding: 2px;
  cursor: pointer;
  color: rgb(255 255 255);
  background-color: rgb(238, 64, 64);
  border-color: firebrick;
}

.School__header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.School__header-container h4 {
  font-size: 0.7rem;
  color: rgb(207, 40, 96);
}
